In [113]:
# Importing the required libraries
import pandas as pd 
import numpy as np
import datetime

In [53]:
# Importing the data
auto_df = pd.read_csv('C:/JonathanWorks/ML/Data/cars.csv')
auto_df.head()

,Model,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Year,Origin,bore,stroke,compression-ratio
0,chevrolet chevelle malibu,18.0,8,307,130,3504,12,1970[1975],"US; Detroit, Michigan",3.47,2.68,9
1,buick skylark 320,15.0,8,350,165,3693,11.5,1970,US],3.47,2.68,?
2,plymouth satellite,18.0,?,318,150,3436,11,"1970, 1976",US,2.68,3.47,9
3,amc rebel sst,16.0,8,304,150,3433,12,1970,US,3.19,3.40,10
4,ford torino,17.0,8,302,140,3449,10.5,1970-1972,US],3.19,3.40,8

In [54]:
#Check the shape of the data
auto_df.shape

(394, 12)

The data above shows that some columns have the ? symbol. Now I will replace the symbol with null

In [55]:
#Replacing the ? with NaN
auto_df = auto_df.replace('?', np.NaN)
auto_df.head()

,Model,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Year,Origin,bore,stroke,compression-ratio
0,chevrolet chevelle malibu,18.0,8,307,130,3504,12,1970[1975],"US; Detroit, Michigan",3.47,2.68,9
1,buick skylark 320,15.0,8,350,165,3693,11.5,1970,US],3.47,2.68,NaN
2,plymouth satellite,18.0,NaN,318,150,3436,11,"1970, 1976",US,2.68,3.47,9
3,amc rebel sst,16.0,8,304,150,3433,12,1970,US,3.19,3.40,10
4,ford torino,17.0,8,302,140,3449,10.5,1970-1972,US],3.19,3.40,8

In [56]:
auto_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 394 entries, 0 to 393
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Model              394 non-null    object
 1   MPG                385 non-null    float64
 2   Cylinders          392 non-null    object
 3   Displacement       393 non-null    object
 4   Horsepower         394 non-null    int64
 5   Weight             393 non-null    object
 6   Acceleration       393 non-null    object
 7   Year               394 non-null    object
 8   Origin             394 non-null    object
 9   bore               394 non-null    float64
 10  stroke             394 non-null    float64
 11  compression-ratio  392 non-null    object
dtypes: float64(3), int64(1), object(8)
memory usage: 37.1+ KB

Count the total null's for each column

In [57]:
auto_df.isnull().sum()

Model                0
MPG                  9
Cylinders            2
Displacement         1
Horsepower           0
Weight               1
Acceleration         1
Year                 0
Origin               0
bore                 0
stroke               0
compression-ratio    2
dtype: int64

The above data shows that there are missing values on some of the columns. We can see that the MPG, the Cylinders, Displacement, weight, Acceleration, and Compression-ratio all have missing value. So now we will take on them one after the other to replace them with either the mean, median or standard deviation.

In [58]:
# Replace the nulls on the MPG with the mean
auto_df['MPG'] = auto_df['MPG'].fillna(auto_df['MPG'].mean())
auto_df.isnull().sum()

Model                0
MPG                  0
Cylinders            2
Displacement         1
Horsepower           0
Weight               1
Acceleration         1
Year                 0
Origin               0
bore                 0
stroke               0
compression-ratio    2
dtype: int64

In [59]:
# Drop the remaining null values
auto_df = auto_df.dropna()

In [60]:
auto_df.shape

(387, 12)

In [61]:
auto_df.isnull().sum()

Model                0
MPG                  0
Cylinders            0
Displacement         0
Horsepower           0
Weight               0
Acceleration         0
Year                 0
Origin               0
bore                 0
stroke               0
compression-ratio    0
dtype: int64

In [62]:
auto_df.head()

,Model,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Year,Origin,bore,stroke,compression-ratio
0,chevrolet chevelle malibu,18.000000,8,307,130,3504,12,1970[1975],"US; Detroit, Michigan",3.47,2.68,9
3,amc rebel sst,16.000000,8,304,150,3433,12,1970,US,3.19,3.40,10
4,ford torino,17.000000,8,302,140,3449,10.5,1970-1972,US],3.19,3.40,8
6,chevrolet impala,14.000000,8,454,220,4354,9,1970[1975],"US; Detroit, Michigan",3.19,3.40,8.5
7,plymouth fury iii,23.551429,8,440,215,4312,8.5,1970,US,3.19,3.40,8.5

In [63]:
# Drop the Model column
auto_df.drop(['Model'], axis=1, inplace=True)

In [64]:
auto_df.head()

,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Year,Origin,bore,stroke,compression-ratio
0,18.000000,8,307,130,3504,12,1970[1975],"US; Detroit, Michigan",3.47,2.68,9
3,16.000000,8,304,150,3433,12,1970,US,3.19,3.40,10
4,17.000000,8,302,140,3449,10.5,1970-1972,US],3.19,3.40,8
6,14.000000,8,454,220,4354,9,1970[1975],"US; Detroit, Michigan",3.19,3.40,8.5
7,23.551429,8,440,215,4312,8.5,1970,US,3.19,3.40,8.5

In [65]:
# Droping the stroke and bore
auto_df.drop(['stroke','bore'], axis=1, inplace=True)

In [66]:
auto_df.head()

,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Year,Origin,compression-ratio
0,18.000000,8,307,130,3504,12,1970[1975],"US; Detroit, Michigan",9
3,16.000000,8,304,150,3433,12,1970,US,10
4,17.000000,8,302,140,3449,10.5,1970-1972,US],8
6,14.000000,8,454,220,4354,9,1970[1975],"US; Detroit, Michigan",8.5
7,23.551429,8,440,215,4312,8.5,1970,US,8.5

Machine learning algorithm as known to work well with numerical data. We will check our datasets to identify numerical data

In [67]:
auto_df.dtypes

MPG                  float64
Cylinders             object
Displacement          object
Horsepower             int64
Weight                object
Acceleration          object
Year                  object
Origin                object
compression-ratio     object
dtype: object

We can see that majority of the data are of object type. We will have to change them all to numerical values.

In [68]:
# Work on converting the Cylinder to numeric
auto_df['Cylinders'].str.isnumeric().value_counts()

True     378
False      9
Name: Cylinders, dtype: int64

In [69]:
auto_df.loc[auto_df['Cylinders'].str.isnumeric() == False]

,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Year,Origin,compression-ratio
11,14.0,-,340,160,3609,8,1970,US,8.8
22,25.0,-,104,95,2375,17.5,1970,Europe,9.4
32,19.0,-,232,100,2634,13,1971,US,10.1
42,13.0,-,400,170,4746,12,1971,US,9.1
51,30.0,-,88,76,2065,14.5,1971,Europe,9
58,23.0,-,97,54,2254,23.5,1972,Europe,9.4
69,13.0,-,400,190,4422,12.5,1972,US,21.5
82,28.0,-,98,80,2164,15,1972-73,US,7
89,12.0,-,429,198,4952,11.5,1973,US,9.4

In [70]:
auto_df['Cylinders'].isnull().values.any()

False

In [71]:
auto_df['Cylinders'].loc[auto_df['Cylinders'].str.isnumeric() == False]

11    -
22    -
32    -
42    -
51    -
58    -
69    -
82    -
89    -
Name: Cylinders, dtype: object

In [72]:
cylinders_Transform = auto_df['Cylinders'].loc[auto_df['Cylinders'] != '-']
cylinders_Transform

0      8
3      8
4      8
6      8
7      8
      ..
389    4
390    4
391    4
392    4
393    4
Name: Cylinders, Length: 378, dtype: object

In [73]:
cylin_mean = cylinders_Transform.astype(int).mean()

In [74]:
auto_df['Cylinders'] = auto_df['Cylinders'].replace('-', cylin_mean).astype(int)

In [75]:
auto_df.dtypes

MPG                  float64
Cylinders              int32
Displacement          object
Horsepower             int64
Weight                object
Acceleration          object
Year                  object
Origin                object
compression-ratio     object
dtype: object

In [26]:
# Work on the displacement
auto_df['Displacement'].str.isnumeric().value_counts()

True     386
False      1
Name: Displacement, dtype: int64

In [76]:
auto_df.head()

,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Year,Origin,compression-ratio
0,18.000000,8,307,130,3504,12,1970[1975],"US; Detroit, Michigan",9
3,16.000000,8,304,150,3433,12,1970,US,10
4,17.000000,8,302,140,3449,10.5,1970-1972,US],8
6,14.000000,8,454,220,4354,9,1970[1975],"US; Detroit, Michigan",8.5
7,23.551429,8,440,215,4312,8.5,1970,US,8.5

In [77]:
auto_df['Displacement'] = pd.to_numeric(auto_df['Displacement'], errors='coerce')

In [78]:
auto_df.dtypes

MPG                  float64
Cylinders              int32
Displacement         float64
Horsepower             int64
Weight                object
Acceleration          object
Year                  object
Origin                object
compression-ratio     object
dtype: object

In [79]:
auto_df.head()

,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Year,Origin,compression-ratio
0,18.000000,8,307.0,130,3504,12,1970[1975],"US; Detroit, Michigan",9
3,16.000000,8,304.0,150,3433,12,1970,US,10
4,17.000000,8,302.0,140,3449,10.5,1970-1972,US],8
6,14.000000,8,454.0,220,4354,9,1970[1975],"US; Detroit, Michigan",8.5
7,23.551429,8,440.0,215,4312,8.5,1970,US,8.5

In [80]:
# Now working on the Weight
auto_df['Weight'].str.isnumeric().value_counts()

True    387
Name: Weight, dtype: int64

In [81]:
auto_df['Weight'] = pd.to_numeric(auto_df['Weight'], errors='coerce')

In [82]:
auto_df.dtypes

MPG                  float64
Cylinders              int32
Displacement         float64
Horsepower             int64
Weight                 int64
Acceleration          object
Year                  object
Origin                object
compression-ratio     object
dtype: object

In [83]:
auto_df.head()

,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Year,Origin,compression-ratio
0,18.000000,8,307.0,130,3504,12,1970[1975],"US; Detroit, Michigan",9
3,16.000000,8,304.0,150,3433,12,1970,US,10
4,17.000000,8,302.0,140,3449,10.5,1970-1972,US],8
6,14.000000,8,454.0,220,4354,9,1970[1975],"US; Detroit, Michigan",8.5
7,23.551429,8,440.0,215,4312,8.5,1970,US,8.5

In [34]:
auto_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 387 entries, 0 to 393
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   MPG                387 non-null    float64
 1   Cylinders          387 non-null    int32
 2   Displacement       387 non-null    float64
 3   Horsepower         387 non-null    int64
 4   Weight             387 non-null    int64
 5   Acceleration       387 non-null    object
 6   Year               387 non-null    object
 7   Origin             387 non-null    object
 8   compression-ratio  387 non-null    object
dtypes: float64(2), int32(1), int64(2), object(4)
memory usage: 28.7+ KB

In [84]:
# Working on Acceleration
auto_df['Acceleration'] = pd.to_numeric(auto_df['Acceleration'], errors='coerce')

In [85]:
auto_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 387 entries, 0 to 393
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   MPG                387 non-null    float64
 1   Cylinders          387 non-null    int32
 2   Displacement       387 non-null    float64
 3   Horsepower         387 non-null    int64
 4   Weight             387 non-null    int64
 5   Acceleration       387 non-null    float64
 6   Year               387 non-null    object
 7   Origin             387 non-null    object
 8   compression-ratio  387 non-null    object
dtypes: float64(3), int32(1), int64(2), object(3)
memory usage: 28.7+ KB

In [86]:
auto_df.head()

,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Year,Origin,compression-ratio
0,18.000000,8,307.0,130,3504,12.0,1970[1975],"US; Detroit, Michigan",9
3,16.000000,8,304.0,150,3433,12.0,1970,US,10
4,17.000000,8,302.0,140,3449,10.5,1970-1972,US],8
6,14.000000,8,454.0,220,4354,9.0,1970[1975],"US; Detroit, Michigan",8.5
7,23.551429,8,440.0,215,4312,8.5,1970,US,8.5

In [87]:
# Working on the Compression-ratio
auto_df['compression-ratio'].str.isnumeric().value_counts()

False    250
True     137
Name: compression-ratio, dtype: int64

In [88]:
auto_df.head()

,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Year,Origin,compression-ratio
0,18.000000,8,307.0,130,3504,12.0,1970[1975],"US; Detroit, Michigan",9
3,16.000000,8,304.0,150,3433,12.0,1970,US,10
4,17.000000,8,302.0,140,3449,10.5,1970-1972,US],8
6,14.000000,8,454.0,220,4354,9.0,1970[1975],"US; Detroit, Michigan",8.5
7,23.551429,8,440.0,215,4312,8.5,1970,US,8.5

In [89]:
auto_df.drop(['compression-ratio'], axis=1, inplace=True)

In [90]:
auto_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 387 entries, 0 to 393
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   MPG           387 non-null    float64
 1   Cylinders     387 non-null    int32
 2   Displacement  387 non-null    float64
 3   Horsepower    387 non-null    int64
 4   Weight        387 non-null    int64
 5   Acceleration  387 non-null    float64
 6   Year          387 non-null    object
 7   Origin        387 non-null    object
dtypes: float64(3), int32(1), int64(2), object(2)
memory usage: 25.7+ KB

In [91]:
auto_df.head()

,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Year,Origin
0,18.000000,8,307.0,130,3504,12.0,1970[1975],"US; Detroit, Michigan"
3,16.000000,8,304.0,150,3433,12.0,1970,US
4,17.000000,8,302.0,140,3449,10.5,1970-1972,US]
6,14.000000,8,454.0,220,4354,9.0,1970[1975],"US; Detroit, Michigan"
7,23.551429,8,440.0,215,4312,8.5,1970,US

In [93]:
auto_df['Origin'].head(15)

0     US; Detroit, Michigan
3                        US
4                       US]
6     US; Detroit, Michigan
7                        US
8                        US
9                       US]
10                       US
11                       US
12    US; Detroit, Michigan
13                       US
14             Japan; Aichi
15                       US
16                      US]
17                       US
Name: Origin, dtype: object

In [92]:
# Now working on the Origin Column
auto_df['Origin'].unique()

array(['US; Detroit, Michigan', 'US', 'US]', 'Japan; Aichi',
       'Europe-Germany', 'Europe', 'Japan; Tokyo', 'Japan; Aichi]',
       'US; Detroit, Michigan]', 'Japan; Tokyo]', 'Japan',
       'Europe Germany'], dtype=object)

In [97]:
auto_df['Origin'] = np.where(auto_df['Origin'].str.contains('US'),'US',auto_df['Origin'])
auto_df['Origin'].unique()

array(['US', 'Japan; Aichi', 'Europe-Germany', 'Europe', 'Japan; Tokyo',
       'Japan; Aichi]', 'Japan; Tokyo]', 'Japan', 'Europe Germany'],
      dtype=object)

In [98]:
auto_df['Origin'] = np.where(auto_df['Origin'].str.contains('Japan'), 'Japan',auto_df['Origin'])
auto_df['Origin'].unique()

array(['US', 'Japan', 'Europe-Germany', 'Europe', 'Europe Germany'],
      dtype=object)

In [99]:
auto_df['Origin'] = np.where(auto_df['Origin'].str.contains('Europe'),'Europe',auto_df['Origin'])
auto_df['Origin'].unique()

array(['US', 'Japan', 'Europe'], dtype=object)

In [101]:
auto_df.head()

,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Year,Origin
0,18.000000,8,307.0,130,3504,12.0,1970[1975],US
3,16.000000,8,304.0,150,3433,12.0,1970,US
4,17.000000,8,302.0,140,3449,10.5,1970-1972,US
6,14.000000,8,454.0,220,4354,9.0,1970[1975],US
7,23.551429,8,440.0,215,4312,8.5,1970,US

In [102]:
# Now cleaning the Year
auto_df['Year']

0      1970[1975]
3            1970
4       1970-1972
6      1970[1975]
7            1970
          ...
389     1982-1985
390          1982
391     1982-1985
392          1982
393          1982
Name: Year, Length: 387, dtype: object

In [103]:
auto_df['Year'].str.isnumeric().value_counts()

True     351
False     36
Name: Year, dtype: int64

In [105]:
# Extract the dates where numeric is False
auto_df['Year'].loc[auto_df['Year'].str.isnumeric()==False]

0          1970[1975]
4           1970-1972
6          1970[1975]
30      1971[1973]971
35         1971[1973]
40         1971[1973]
44         1971[1973]
49         1971[1973]
56         1972[1973]
61         1972[1973]
65         1972[1973]
68         1972[1973]
73         1972[1973]
75            1972-73
79            1972-73
82            1972-73
96          1973-1974
97         1973, 1974
102    1973, 19741973
105        1973, 1974
108        1973, 1974
112        1973, 1974
115        1973, 1974
126        1974, 1975
131        1974, 1975
134        1974, 1975
137        1974, 1975
139    1974, 19751974
142        1974, 1975
365         1982-1985
374         1982-1985
380         1982-1985
383         1982-1985
387         1982-1985
389         1982-1985
391         1982-1985
Name: Year, dtype: object

In [108]:
auto_df['Year'].isnull().values.any()

False

In [110]:
extract = auto_df['Year'].str.extract(r'^(\d{4})', expand=False)
extract

0      1970
3      1970
4      1970
6      1970
7      1970
       ...
389    1982
390    1982
391    1982
392    1982
393    1982
Name: Year, Length: 387, dtype: object

In [111]:
auto_df['Year'] = pd.to_numeric(extract)
auto_df['Year']

0      1970
3      1970
4      1970
6      1970
7      1970
       ...
389    1982
390    1982
391    1982
392    1982
393    1982
Name: Year, Length: 387, dtype: int64

In [112]:
auto_df.head()

,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Year,Origin
0,18.000000,8,307.0,130,3504,12.0,1970,US
3,16.000000,8,304.0,150,3433,12.0,1970,US
4,17.000000,8,302.0,140,3449,10.5,1970,US
6,14.000000,8,454.0,220,4354,9.0,1970,US
7,23.551429,8,440.0,215,4312,8.5,1970,US

The above data shows that the data that started out not cleaned have been cleaned. Add an Age to the data.

In [114]:
auto_df['Age'] = datetime.datetime.now().year - auto_df['Year']

In [115]:
auto_df.head()

,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Year,Origin,Age
0,18.000000,8,307.0,130,3504,12.0,1970,US,52
3,16.000000,8,304.0,150,3433,12.0,1970,US,52
4,17.000000,8,302.0,140,3449,10.5,1970,US,52
6,14.000000,8,454.0,220,4354,9.0,1970,US,52
7,23.551429,8,440.0,215,4312,8.5,1970,US,52

In [116]:
auto_df.drop(['Year'], axis=1, inplace=True)

In [117]:
auto_df.sample(5)

,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Origin,Age
42,13.000000,5,400.0,170,4746,12.0,US,51
62,14.000000,8,400.0,175,4385,12.0,US,50
50,23.551429,4,79.0,70,2074,19.5,Europe,51
359,22.400000,6,231.0,110,3415,15.8,US,41
29,27.000000,4,97.0,88,2130,14.5,Japan,51

In [118]:
auto_df.describe()

,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Age
count,387.000000,387.000000,387.000000,387.000000,387.000000,387.000000,387.000000
mean,23.672514,5.410853,192.184755,103.645995,2965.387597,15.573643,45.917313
std,7.736579,1.667795,103.703706,38.128651,846.332848,2.746260,3.668715
min,9.000000,3.000000,68.000000,46.000000,1613.000000,8.000000,40.000000
25%,17.600000,4.000000,102.500000,75.000000,2221.500000,13.900000,43.000000
50%,23.200000,4.000000,146.000000,92.000000,2790.000000,15.500000,46.000000
75%,29.000000,6.000000,260.000000,121.000000,3589.500000,17.050000,49.000000
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,52.000000

In [119]:
auto_df.to_csv('C:/JonathanWorks/ML/Data/Complete_Process_Cars.csv')